/*===============================*/
/*      Transition Variables     */
/*===============================*/

$short-trans: .5s;

/*===============================*/
/*        Color Variables        */
/*===============================*/

$white: #fff;
$gray: #777;
$teal: #58e1c1;
$blue-teal: #51ddfc;
$light-purple: #927bc1;
$light-orange: #fd7856;
$light-red: #e4757a;
$light-green: #63cc82;

/*===============================*/
/*      Breakpoint Variables     */
/*===============================*/

$bp-med: 768px;